streamlit
langchain
langchain-community
langchain-core
langchain_google_genai 
langchain-groq
google_generativeai
faiss-cpu 
python-dotenv 
unstructured[all]
bs4
python-docx
python-pptx
sentence-transformers
torch
markdown
llama-index
firecrawl-py
firecrawl
bs4 
